.search-box {
  display: flex;

  background: #f5f5f5;
  width: 100%;
  border-radius: 40px;
  height: 50px;
  /* padding: 10px; */
}

.box-search {
  /* flex: 1; */
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7a7a7;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.search-btn {
  color: #5c5c5c;
  width: 25px;

  /* height: 30px; */
}
.search-txt {
  /* flex: 11; */
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 30px;
  margin-inline: 20px;
  width: 90%;
}
.seting {
  margin-top: 10px;
  background: #f1f0f0;
  width: 60px;
  border-radius: 20px;
  height: 50px;
  padding: 10px;
}
.seting-btn {
  justify-content: center;
  margin-top: 5px;
  display: flex;
  height: 10px;
}

@media (max-width: 766px) {
  .box-search {
    width: 25%;
  }
  .search-txt {
    width: 75%;
  }
}
